@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@custom-variant typography (&:is(.typography, .typography *));

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply font-sans bg-background text-foreground antialiased [&_svg:not([class*='stroke-'])]:stroke-[1.75];
	}
	html {
		@apply font-sans;
	}
}

@utility mdx-container {
	@apply mx-auto max-w-5xl 2xl:max-w-6xl w-full pt-24 pb-10 px-6 md:px-8;
}

@utility large-container {
	@apply min-h-svh w-full p-6 sm:p-8;
}

@utility medium-container {
	@apply mx-auto w-full max-w-5xl px-6 pt-16 pb-10 md:px-8 2xl:max-w-6xl;
}

@utility small-container {
	@apply mx-auto w-full max-w-3xl px-6 pt-16 pb-10 md:px-8;
}

:root {
	--background: oklch(1 0 0);
	--background2: oklch(0.988 0 0);
	--background3: oklch(0.97 0 0);
	--foreground: oklch(0.285 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.285 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.285 0 0);
	--primary: oklch(0.285 0 0);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.67 0.114 179);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.925 0 0);
	--muted-foreground: oklch(0.468 0 0);
	--accent: oklch(0.964 0 0);
	--accent-foreground: oklch(0.371 0 0);
	--destructive: var(--color-destructive-600);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.898 0 0);
	--input: oklch(0.898 0 0);
	--ring: oklch(0.67 0.114 179);
	--sidebar: var(--color-background3);
	--sidebar-foreground: var(--color-foreground);
	--sidebar-primary: var(--color-primary);
	--sidebar-primary-foreground: var(--color-primary-foreground);
	--sidebar-accent: var(--color-muted);
	--sidebar-accent-foreground: var(--color-muted-foreground);
	--sidebar-border: var(--color-border);
	--sidebar-ring: var(--color-ring);
	--shadow-color: color-mix(
		in oklab,
		color-mix(in oklab, var(--color-black) 6.5%, transparent)
			var(--tw-shadow-alpha),
		transparent
	);
}

.dark {
	--background: oklch(0.213 0 0);
	--background2: oklch(0.205 0 0);
	--foreground: oklch(0.879 0 0);
	--card: oklch(0.244 0 0);
	--card-foreground: oklch(0.879 0 0);
	--popover: oklch(0.244 0 0);
	--popover-foreground: oklch(0.879 0 0);
	--primary: oklch(0.817 0 0);
	--primary-foreground: oklch(0.213 0 0);
	--secondary: oklch(0.562 0.1 174.4);
	--secondary-foreground: oklch(0.879 0 0);
	--muted: oklch(0.301 0 0);
	--muted-foreground: oklch(0.633 0 0);
	--accent: oklch(0.244 0 0);
	--accent-foreground: oklch(0.817 0 0);
	--destructive: var(--color-destructive-600);
	--destructive-foreground: oklch(0.879 0 0);
	--border: oklch(0.337 0 0);
	--input: oklch(0.337 0 0);
	--ring: oklch(0.562 0.1 174.4);
	--sidebar: var(--color-accent);
	--sidebar-foreground: var(--color-foreground);
	--sidebar-primary: var(--color-primary);
	--sidebar-primary-foreground: var(--color-primary-foreground);
	--sidebar-accent: var(--color-muted);
	--sidebar-accent-foreground: var(--color-muted-foreground);
	--sidebar-border: var(--color-border);
	--sidebar-ring: var(--color-ring);
	--shadow-color: oklch(0.145 0 0 / 40%);
}

@font-face {
	font-family: "Inter Variable";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("../fonts/InterVariable.ttf") format("truetype");
}

@font-face {
	font-family: "Inter Variable";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("../fonts/InterVariable-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("../fonts/JetBrainsMonoVariable.ttf") format("truetype");
}

@font-face {
	font-family: "JetBrains Mono";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("../fonts/JetBrainsMonoVariable-Italic.ttf") format("truetype");
}

@utility display-1 {
	@apply text-5xl font-medium tracking-tight md:text-6xl lg:text-7xl leading-snug scroll-m-20 text-balance;
}

@utility display-2 {
	@apply text-4xl font-[550] tracking-tight scroll-m-20;
}

@utility header-1 {
	@apply text-3xl font-semibold tracking-tight scroll-m-20;
	@variant typography {
		@apply mb-3;
	}
}

@utility header-2 {
	@apply text-2xl font-semibold tracking-tight scroll-m-20;
	@variant typography {
		@apply not-first:mt-12 mb-4;
	}
}

@utility header-3 {
	@apply text-xl font-semibold tracking-tight scroll-m-20;
	@variant typography {
		@apply mb-3 mt-12;
	}
}

@utility header-4 {
	@apply text-lg font-semibold tracking-tight scroll-m-20;
}

p {
	@variant typography {
		@apply leading-7 mb-4;
	}
}

blockquote {
	@variant typography {
		@apply border-l-2 border-border pl-6 italic mb-5;
	}
}

table {
	@variant typography {
		@apply w-full border rounded-lg border-separate border-spacing-0 overflow-hidden;
	}
}

thead {
	@variant typography {
		@apply bg-accent text-accent-foreground;
	}
}

th {
	@variant typography {
		@apply text-xs font-medium px-6 py-1.5 text-left [[align=center]]:text-center [[align=right]]:text-right border-b border-input;
	}
}

tbody {
	@variant typography {
		@apply dark:bg-background2;
	}
}

td {
	@variant typography {
		@apply text-left px-6 py-4 text-xs [[align=center]]:text-center [[align=right]]:text-right border-b border-input [tr:last-child_&]:border-b-0;
	}
}

ul {
	@variant typography {
		@apply list-disc ml-6 mb-5 [&>li]:mt-2;
	}
}

code {
	@apply relative rounded-sm px-1.25 py-0.5 font-mono bg-muted;
}

hr {
	@variant typography {
		@apply my-10;
	}
}

strong {
	@apply font-semibold;
}

@theme inline {
	--font-sans:
		"Inter Variable", -apple-system, BlinkMacSystemFont, system-ui,
		"Helvetica Neue", sans-serif;

	--font-mono:
		"JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		Liberation Mono, Courier New, monospace;

	--text-4xs: 0.625rem;
	--text-4xs--line-height: calc(1 / 0.625);
	--text-3xs: 0.6875rem;
	--text-3xs--line-height: calc(1 / 0.6875);
	--text-2xs: 0.75rem;
	--text-2xs--line-height: calc(1 / 0.75);
	--text-xs: 0.8125rem;
	--text-xs--line-height: calc(1 / 0.8125);

	--color-destructive-50: oklch(0.972 0.011 17.3);
	--color-destructive-100: oklch(0.94 0.025 20.6);
	--color-destructive-200: oklch(0.893 0.048 21.3);
	--color-destructive-300: oklch(0.82 0.084 22.7);
	--color-destructive-400: oklch(0.721 0.138 23.8);
	--color-destructive-500: oklch(0.64 0.176 26.1);
	--color-destructive-600: oklch(0.586 0.181 27);
	--color-destructive-700: oklch(0.499 0.167 27.7);
	--color-destructive-800: oklch(0.441 0.141 27.3);
	--color-destructive-900: oklch(0.397 0.113 26.4);
	--color-destructive-950: oklch(0.257 0.076 26.3);

	--color-background: var(--background);
	--color-background2: var(--background2);
	--color-background3: var(--background3);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--shadow-2xs: 0 1px var(--shadow-color);
	--shadow-xs: 0 1px 2px 0 var(--shadow-color);
	--shadow-sm:
		0 1px 3px 0 var(--shadow-color), 0 1px 2px -1px var(--shadow-color);
	--shadow-md:
		0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
	--shadow-lg:
		0 10px 15px -3px var(--shadow-color), 0 4px 6px -4px var(--shadow-color);
	--shadow-xl:
		0 20px 25px -5px var(--shadow-color), 0 8px 10px -6px var(--shadow-color);
	--shadow-2xl: 0 25px 50px -12px var(--shadow-color);
}
